<!DOCTYPE html>
<html lang="ru">
<html prefix="og: //ogp.me/ns#">

<head>
    <link rel="https://robo-win.ru/" hreflang="ru">
    <title>Программа анализа, прогноза футбольных матчей| Robo-Win 2.0</title>
    <meta charset="utf-8">
    <meta name="keywords" content="скачать программу для ставок на спорт, Robo-Win 2.0 ">
    <meta name="description" content="Robo-Win 2.0  – программа анализа футбольных матчей для ставок. Для расчета исхода матча используется множество факторов, точный прогноз - 81% и выше!">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="xwork">
    <meta property="og:title" content="Программа для анализа футбольных матчей: скачать программу для прогноза ставок на спорт | Robo-Win 2.0" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://robo-win.ru/" />
    <meta property="og:image" content="https://robo-win.ru/images/robots/header-robot.png" />
    <meta property="og:site_name" content="Программа для анализа футбольных матчей: скачать программу для прогноза ставок на спорт | Robo-Win 2.0" />
    <meta property="og:description" content="Robo-Win 2.0  – лучшая программа для анализа футбольных матчей для ставок. Более 81% верных прогнозов! Для расчета исхода матча используется множество факторов, чтобы прогноз был наиболее точным!" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="Программа для анализа футбольных матчей: скачать программу для прогноза ставок на спорт | Robo-Win 2.0" />
    <meta name="twitter:description" content="Robo-Win 2.0  – лучшая программа для анализа футбольных матчей для ставок. Более 81% верных прогнозов! Для расчета исхода матча используется множество факторов, чтобы прогноз был наиболее точным!" />
    <meta name="twitter:image" content="https://robo-win.ru/images/robots/header-robot.png" />
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    <div itemprop="publisher" itemscope itemtype="https://robo-win.ru/">
        <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress" style="display:none;">
            <span itemprop="streetAddress">Новый Арбат</span>
            <span itemprop="postalCode">119019</span>
            <span itemprop="addressLocality">Россия, Московская область, Москва</span>

        </div>
        <div itemprop="logo" itemscope itemtype="https://schema.org/ImageObject">
            <img itemprop="url" itemprop="image" src="https://robo-win.ru/images/robots/header-robot.png" style="display:none;" />
            <meta itemprop="width" content="250">
            <meta itemprop="height" content="250">
        </div>
        <meta itemprop="name" content="Программа для анализа, прогноза футбольных матчей| скачать Robo-Win 2.0">
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120678065-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-120678065-1');
    </script>

</head>

<body>
    <header id="header">
        <div class="container-fluid">
            <div class="row" id="navigation">
                <div class="container">
                    <div class="toggle-main-menu visible-xs text-center">
                        <img src="images/icons/toggle-menu.png" alt="Программа для анализа, прогноза футбольных матчей| скачать Robo-Win 2.0">
                    </div>
                    <div class="main-menu sectionSlide" id="mainMenu">
                        <nav>
                            <ul class="list-inline">
                                <li><a href="#howItWork">Как работает</a></li>
                                <li><a href="#newVersion">В новой версии</a></li>
                                <li><a href="#stepsUse">Прогноз в 2 клика</a></li>
                                <li><a href="#rates">Тарифы</a></li>
                                <li><a href="#forecastResults">Сколько заработали</a></li>
                                <li><a href="#reviews">Отзывы</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="header-txt">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="txt-box">
                            <div class="heading">

                                <h1 itemprop="headline">Robo-Win 2.0 – программа №1 <br> для анализа матчей по футболу
                                </h1>
                            </div>
                            <p>
                                <span>
										Программа для анализа футбольных матчей Robo-Win 2.0 на сегодняшний день производит наиболее
									</span>
                                <span>точный расчёт исхода игры, так как учитывает множество факторов: начиная от количества</span> игр в сезоне, побед, забитых мячей и заканчивая мотивированностью команды, судейством и погодными условиями.
                            </p>
                            <p>
                                <span>Новичок Вы или профессиональный каппер, программа «Robo-Win v.2.0.» поможет Вам сделать</span> правильную ставку на исход футбольного матча
                            </p>
                            <div class="sectionSlide">
                                <a href="#rates" class="btn btn-default">Получить доступ</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="robot">
                    <img src="images/robots/header-robot.png" alt="Доступ к программе прогноз ставок на футбол Robo-Win">
                </div>
                <div class="slide-content sectionSlide">
                    <a href="#main"><img src="images/icons/main-slide.png" alt="Доступ к программе прогноз ставок на спорт"></a>
                </div>
            </div>
        </div>
    </header>
    <main id="main">
        <div class="section dark-section info-block">
            <div class="container">
                <div class="video">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div id="video-placeholder"></div>
                        </div>
                    </div>
                </div>
                <div class="results text-center">
                    <div class="row align-items-center">
                        <div class="col-md-4">
                            <div class="item">
                                <div class="text-center">
                                    <p class="lend">Отличные результаты прогноза!</p>
                                    <h2 class="ff-roboto">
                                        <span class="color-blue"><strong>Спрогнозирован верный исход <br>более 83% матчах</strong></span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 hidden-xs">
                            <div class="sectionSlide">
                                <a href="#rates" class="btn btn-default btn-block">Получить доступ</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item">
                                <div class="text-center">
                                    <p class="lend">Результаты анализа матчей</p>
                                    <h2 class="ff-roboto">
                                        <span class="color-blue"><strong>Было проанализировано <br>более 9 000 матчей</strong></span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 visible-xs">
                            <div class="item">
                                <div class="sectionSlide">
                                    <a href="#rates" class="btn btn-default">Получить доступ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timer">
                        <div class="section-heading">
                            <h3>Скидка 30% по промокоду <span class="color-blue">robopower</span> действует еще</h3>
                        </div>
                        <div id="getting-started" class="row timer-content justify-content-center"></div>
                    </div>
                </div>
            </div>
        </div>
        <section class="work-steps" id="howItWork">
            <div class="container">
                <div class="section-heading text-center">
                    <h2>Как программа вычисляет прогноз исхода матча</h2>
                </div>
                <div class="section-main">
                    <div class="work-outline row no-gutters">
                        <div class="col-md-4">
                            <div class="item item-first item-left-margin">
                                <p class="lend">Сбор данных на лучших сайтах <br> с платными прогнозами</p>
                            </div>
                            <div class="item center-item">
                                <p class="lend">
                                    Сбор данных <br> на тематических форумах
                                </p>
                            </div>
                            <div class="item item-left-margin">
                                <p class="lend">
                                    Сбор данных на других <br> проверенных источниках
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 align-self-center hidden-xs">
                            <div class="total text-center">
                                <p class="big-lend">
                                    В итоге более
                                </p>
                                <div class="interest" id="counter">
                                    <h2 class="color-blue">83%</h2>
                                </div>
                                <p class="big-lend">
                                    верных исходов матчей
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item text-right item-first item-right-margin">
                                <p class="lend">Сбор данных с проверенных <br> новостных ресурсов</p>
                            </div>
                            <div class="item text-right center-item">
                                <p class="lend">
                                    Анализ собранной информации <br> по заданному алгоритму
                                </p>
                            </div>
                            <div class="item text-right item-right-margin">
                                <p class="lend">
                                    Сбор данных <br> от лучших букмекеров
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 align-self-center visible-xs">
                            <div class="total text-center">
                                <p class="big-lend">
                                    В итоге более
                                </p>
                                <div class="interest">
                                    <h2 class="color-blue">83%</h2>
                                </div>
                                <p class="big-lend">
                                    верных исходов матчей
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="advantages section" id="newVersion">
            <div class="container">
                <div class="robot">
                    <img src="images/robots/advantages-robot.png" alt="преимущества в новой версии Robo-Win">
                </div>
                <div class="row justify-content-end">
                    <div class="col-md-8">
                        <h2>4 преимущества в новой версии 2.0</h2>
                        <div class="advantages-list">
                            <ul class="list-unstyled">
                                <li>Мы исключили сбор прогнозов с бесплатных источников</li>
                                <li>Добавлено большее количество сайтов с платными прогнозами</li>
                                <li>Обновлён алгоритм анализа собранных данных</li>
                                <li>Выдача двух прогнозов наиболее вероятного исхода матча</li>
                            </ul>
                        </div>
                        <div class="btn-box sectionSlide">
                            <a href="#rates" class="btn btn-default">Получить доступ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="steps-use" id="stepsUse">
            <div class="container">
                <div class="section-heading text-center">
                    <h2>Всего 2 клика и перед Вами <br> высокоточный прогноз на любой матч</h2>
                </div>
                <div class="section-main">
                    <div class="row justify-content-center">
                        <div class="col-md-6">
                            <div class="item text-center">
                                <div class="img">
                                    <img src="images/steps-use/a1.jpg" alt="Авторизация в программе Robo-Win" class="img-responsive">
                                </div>
                                <p>1. Авторизуйтесь в программе</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item text-center">
                                <div class="img">
                                    <img src="images/steps-use/a2.jpg" alt="Выбор футбольного матча для прогноза исхода – Robo-Win" class="img-responsive">
                                </div>
                                <p>2. Выберите матч</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="item text-center">
                                <div class="img">
                                    <img src="images/steps-use/a3.jpg" alt="Наиболее вероятный исход матча  – Robo-Win" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="rates" id="rates">
            <div class="container">
                <div class="section-heading">
                    <h2 class="text-center">Тарифы и стоимость программы для расчета <br> исхода матча Robo-Win 2.0</h2>
                </div>
                <div class="section-main">
                    <div class="prices-list">
                        <div class="row no-gutters justify-content-center">
                            <div class="col-lg-10">
                                <div class="row no-gutters align-items-center">
                                    <div class="col-md-4">
                                        <div class="price-rate text-center">
                                            <div class="rate-access row no-gutters align-items-center bg-blue">
                                                <div class="col">
                                                    <p class="lend"><strong>Доступ на 1 месяца</strong></p>
                                                </div>
                                            </div>
                                            <div class="rate-content rate-content-small row align-items-center">
                                                <div class="col">
                                                    <p>цена с 15 ноября 2018 г.</p>
                                                    <div class="old-price">
                                                        7 000руб.
                                                    </div>
                                                    <p class="lend"><span class="color-blue"><strong>действующая цена</strong></span></p>
                                                    <div class="price">
                                                        <span class="color-blue"><strong>5 000 руб.</strong></span>
                                                    </div>
                                                    <div class="btn-box">
                                                        <a href="https://glopart.ru/buy/180763" rel="nofollow" onclick='_mgq.push(["MgSensorInvoke", "gain_access_marketgid"])' class="btn btn-transparent btn-block btn-fz-20">Получить доступ</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="price-rate text-center bg-blue main-rate">
                                            <div class="rate-access row no-gutters align-items-center">
                                                <div class="col">
                                                    <p class="lend"><span class="color-blue"><strong>Доступ на 2 месяца</strong></span></p>
                                                </div>
                                            </div>
                                            <div class="rate-content row align-items-center">
                                                <div class="col">
                                                    <p>цена с 15 ноября 2018 г.</p>
                                                    <div class="old-price">
                                                        9 000руб.
                                                    </div>
                                                    <p class="lend"><strong>действующая цена</strong></p>
                                                    <div class="price"><strong>7 000 руб.</strong></div>
                                                    <div class="btn-box">
                                                        <a href="https://glopart.ru/buy/180766" rel="nofollow" onclick='_mgq.push(["MgSensorInvoke", "gain_access_marketgid"])' class="btn btn-white btn-block btn-fz-20"><strong>Получить доступ</strong></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="price-rate text-center">
                                            <div class="rate-access row no-gutters align-items-center bg-blue">
                                                <div class="col">
                                                    <p class="lend"><strong>Доступ на 3 месяца</strong></p>
                                                </div>
                                            </div>
                                            <div class="rate-content rate-content-small row align-items-center">
                                                <div class="col">
                                                    <p>цена с 15 ноября октября 2018 г.</p>
                                                    <div class="old-price">
                                                        11 000руб.
                                                    </div>
                                                    <p class="lend"><span class="color-blue"><strong>действующая цена</strong></span></p>
                                                    <div class="price">
                                                        <span class="color-blue"><strong>9 000 руб.</strong></span>
                                                    </div>
                                                    <div class="btn-box">
                                                        <a href="https://glopart.ru/buy/180769" rel="nofollow" onclick='_mgq.push(["MgSensorInvoke", "gain_access_marketgid"])' class="btn btn-transparent btn-block btn-fz-20">Получить доступ</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="download text-center">
                        <div class="color-blue">
                            <p class="lend">
                                <strong>Скачать программу для анализа футбольных матчей Robo-Win 2.0 <br>
									Вы сможете по ссылке, которая придет на Ваш e-mail сразу после оплаты</strong>
                            </p>
                        </div>
                    </div>
                    <div class="download-info">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <div class="item">
                                    <p class="lend decoration">
                                        <strong>
											Программа работает на Win 10, 7, 8
										</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="item">
                                    <p class="lend decoration">
                                        <strong>Программа защищена от взлома</strong>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-4 text-center">
                                <div class="item">
                                    <p class="lend decoration">
                                        <strong>Вход возможет только с одного ПК</strong>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="timer">
                        <div class="section-heading">
                            <h3>Скидка 30% по промокоду <span class="color-blue">robopower</span> действует еще</h3>
                        </div>
                        <div id="getting-started-1" class="row timer-content justify-content-center"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="forecast-results" id="forecastResults">
            <div class="container">
                <div class="section-heading text-center">
                    <h2>Результат ставок по прогнозам <br>программы «Robo-Win 2.0» за 5 дней <br>+ 74 116 руб. </h2>
                </div>
                <div class="section-main">
                    <div class="forecast-results-slider">
                        <div class="item">
                            <img src="images/forecast-results/1.jpg" alt="Результаты ставок на футбол, спрогнозированные программой Robo-Win - день 1" class="img-responsive">
                        </div>
                        <div class="item">
                            <img src="images/forecast-results/2.jpg" alt="Результаты ставок на футбол, спрогнозированные программой Robo-Win - день 2" class="img-responsive">
                        </div>
                        <div class="item">
                            <img src="images/forecast-results/3.jpg" alt="Результаты ставок на футбол, спрогнозированные программой Robo-Win - день 3" class="img-responsive">
                        </div>
                        <div class="item">
                            <img src="images/forecast-results/4.jpg" alt="Результаты ставок на футбол, спрогнозированные программой Robo-Win - день 4" class="img-responsive">
                        </div>
                        <div class="item">
                            <img src="images/forecast-results/5.jpg" alt="Результаты ставок на футбол, спрогнозированные программой Robo-Win - день 5" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="reviews pt-0" id="reviews">
            <div class="container">
                <div class="section-heading text-center">
                    <h2>Отзывы покупателей программы <br> прогнозов на спорт Robo-Win 2.0
                    </h2>
                </div>
                <div class="section-main">
                    <div class="reviews-slider">
                        <div class="item text-center">
                            <img src="images/reviews/1.jpg" alt="Отзыв о программе прогноза ставки на спорт" class="img-responsive">
                        </div>
                        <div class="item text-center">
                            <img src="images/reviews/2.jpg" alt="Отзыв о программе прогноза ставки на футбол" class="img-responsive">
                        </div>
                        <div class="item text-center">
                            <img src="images/reviews/3.jpg" alt="Отзыв о программе Robo-Win 2.0" class="img-responsive">
                        </div>
                        <div class="item text-center">
                            <img src="images/reviews/4.jpg" alt="Отзыв о программе прогноза ставки на футбол Robo-Win 2.0  " class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section itemscope itemtype="https://schema.org/Article" style="padding-bottom:0!important;">

            <center>
                <h2 itemprop="headline">Robo-Win 2.0 – лучший помошник <br> для анализа матчей по футболу
                </h2>
                <span style="display:none" itemprop="author" itemscope itemtype="http://schema.org/Person">
								<meta itemprop="name" content="Robo-Win 2.0"></span>
                <span style="display:none" itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
								<meta itemprop="name" content="Robo-Win 2.0 – лучший помошник для анализа матчей по футболу">
								<span style="display:none" itemprop="logo" itemscope itemtype="http://schema.org/ImageObject">
			                    <img style="display:none;" itemprop="url image" alt="Прогноз исхода футбольных матчей" src="images/reviews/4.jpg">
								</span>
                </span>
                <time datetime="2018-11-10" itemprop="datePublished" style="font-size:0;">Nov 10, 2018</time>
                <time title="2018-11-17" itemprop="dateModified" datetime="2018-11-17" style="font-size:0;"></time>
                <link itemprop="mainEntityOfPage" href="https://robo-win.ru/">

            </center>
            <div class="section dark-section text-section">
                <div class="container-fluid">
                    <div class="row">
                        <div class="robot-- hidden-sm hidden-xs col-md-3 col-lg-4">
                            <img itemprop="image" class="img-responsive" src="images/robots/text-section.png" alt="Программа для прогноза футбольных матчей| скачать Robo-Win 2.0">
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
                            <p>
                                Ищешь идеальную стратегию для ставок на спорт? Хочешь быть всегда в выигрыше? Не трать драгоценное время на расчеты вероятного исхода матча.
                                <cut>Программа Robo-Win 2.0 создана специально для того, чтоб избавить тебя от головной боли, траты времени и денег. Неважно, ты новичок или профессиональный каппер, отлично ориентируешься в ставках на спорт или только увлекся,
                                    такой мощный инструмент как эта программа, поможет получить наиболее точный расчет исхода футбольной встречи. Наша программа учитывает все:количество игр в сезоне и их результативность, мотивацию в команде, погодные
                                    условия, травмы игроков и даже их настроение!</cat>
                            </p>
                            <h3>Как это делает Robo-Win 2.0? Программа собирает сведения:</h3>
                            <ul>
                                <li>• На сайтах платных прогнозов; </li>
                                <li>• На тематических ресурсах и форумах;</li>
                                <li>• Из других проверенных онлайн-сервисов;</li>
                                <li>• На новостных сайтах;</li>
                                <li>• Данные лучших букмекерских контор;</li>
                                <li>• Уникальный алгоритм анализирует материал и выдает результат.</li>
                            </ul>
                            <h3>Никаких случайных цифр. Только комплексный и качественный подход к анализу информации.</h3>
                            <ul>
                                <li>• Исключен сбор информации с бесплатных, некачественных источников;</li>
                                <li>• Добавлено еще больше ресурсов с платными прогнозами;</li>
                                <li>• Программа выдает два прогноза наиболее вероятного результата встречи;</li>
                                <li>• Главное преимущество в том, что в новой версии программы, более совершенный алгоритм анализа информации.</li>
                            </ul>
                            <p>Вы должны понимать, что программа «Robo-Win 2.0» - это самый лучший помощник, для анализа любого футбольного матча. Но делать ставки по прогнозам «Robo-Win 2.0» Вы должны только, если сами полностью согласны с прогнозом программы.
                            </p>
                            <p>Все программы для анализа футбольных матчей, высчитывают результат, основываясь только на данных статистики предыдущих встреч двух команд между собой и их игр с другими командами. Да, эти данные важны, но их может быть недостаточно
                                для того, чтобы быть уверенным в результате. Каждый игрок знает, что существует еще масса факторов, которые могут влиять на исход матча. Где играет команда, ее состав, травмы, настроение команды, взаимоотношения игроков
                                с тренером, количество болельщиков и их поддержка, погодные условия. Не учитывать эти факторы просто преступление. Владея минимальной информацией, стоит ли рисковать своими деньгами? Программа Robo-Win2.0 собирает весь
                                комплекс влияющих факторов из проверенных источников, анализирует их и выдает два результата.
                                <strong>Если ты с ними согласен, делай свою ставку, наслаждайся просмотром игры и выигрывай!<strong></p>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer">
        <div class="container">
            <div class="footer-top">
                <div class="row justify-content-between">
                    <div class="col-3 link">
                        <a href="https://drive.google.com/open?id=1-LUyRIHnp0xxMWKDQnAfU0N6KC87QO9T" rel="nofollow" class="decoration">Оферта</a>
                    </div>
                    <div class="col-9 mail text-right">
                        <a href="">robo-win@yandex.ru</a>
                    </div>
                </div>
            </div>
            <div class="footer-slogan">
                <div class="text-center">
                    <p>2018 All rights reserved</p>
                </div>
            </div>
        </div>
    </footer>
    <a id="back-to-top" class="back-to-top">Вверх</a>
    <script src="js/jquery.min.js"></script>
    <script src="js/common.min.js"></script>
    <script src="js/lodash.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/slick.min.js"></script>
    
    <script>
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('video-placeholder', {
                width: 700,
                height: 400,
                playerVars: {
                    'autoplay': 0,
                    'controls': 0,
                    'showinfo': 0,
                    'rel': 0
                },
                videoId: 'E1C3cw6L5LE',
            });
        }
    </script>

    <!-- MarketGid Sensor -->
    <script>
        (function() {
            var d = document,
                w = window;
            w.MgSensorData = w.MgSensorData || [];
            w.MgSensorData.push({
                cid: 357949,
                lng: "ru",
                nosafari: true,
                project: "a.marketgid.com"
            });
            var l = "a.marketgid.com";
            var n = d.getElementsByTagName("script")[0];
            var s = d.createElement("script");
            s.type = "text/javascript";
            s.async = true;
            var dt = !Date.now ? new Date().valueOf() : Date.now();
            s.src = "//" + l + "/mgsensor.js?d=" + dt;
            n.parentNode.insertBefore(s, n);
        })();
    </script>
    <!-- /MarketGid Sensor -->

    <noscript>
		<div><img src="https://mc.yandex.ru/watch/49212676" style="position:absolute; left:-9999px;" alt="прогноз ставок на спорт" /></div>
	</noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Rating@Mail.ru counter -->
    <script type="text/template" id="main-example-template">
        <div class="time <%= label %>"> <span class="count curr top"><%= curr %></span> <span class="count next top"><%= next %></span> <span class="count next bottom"><%= next %></span> <span class="count curr bottom"><%= curr %></span> <span class="label"><%= label.length < 6 ? label : label.substr(0, 3)  %></span></div>
    </script>
    <script>
        var _tmr = window._tmr || (window._tmr = []);
        _tmr.push({
            id: "3035335",
            type: "pageView",
            start: (new Date()).getTime()
        });
        (function(d, w, id) {
            if (d.getElementById(id)) return;
            var ts = d.createElement("script");
            ts.type = "text/javascript";
            ts.async = true;
            ts.id = id;
            ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
            var f = function() {
                var s = d.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(ts, s);
            };
            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "topmailru-code");
    </script>

    <noscript>
		<div><img src="//top-fwz1.mail.ru/counter?id=3035335;js=na" style="border:0;position:absolute;left:-9999px;" alt="Рейтинг программ номер один прогноза ставок на спорт" /></div>
	</noscript>
    <!-- //Rating@Mail.ru counter -->

    <!-- Yandex.Metrika counter 09.09.2018 -->
    <script>
        (function(d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter50269207 = new Ya.Metrika2({
                        id: 50269207,
                        clickmap: true,
                        trackLinks: true,
                        accurateTrackBounce: true,
                        webvisor: true
                    });
                } catch (e) {}
            });
            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function() {
                    n.parentNode.insertBefore(s, n);
                };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else {
                f();
            }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    
<script type="text/javascript">(function(w,doc) {
if (!w.__utlWdgt ) {
    w.__utlWdgt = true;
    var d = doc, s = d.createElement('script'), g = 'getElementsByTagName';
    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
    s.src = ('https:' == w.location.protocol ? 'https' : 'http')  + '://w.uptolike.com/widgets/v1/uptolike.js';
    var h=d[g]('body')[0];
    h.appendChild(s);
}})(window,document);
</script>
<div data-mobile-view="true" data-share-size="30" data-like-text-enable="false" data-background-alpha="1.0" data-pid="1799481" data-mode="share" data-background-color="#0078ff" data-share-shape="round-rectangle" data-share-counter-size="12" data-icon-color="#ffffff" data-mobile-sn-ids="fb.vk.tw.ok.wh.vb.tm." data-text-color="#000000" data-buttons-color="#ffffff" data-counter-background-color="#ffffff" data-share-counter-type="disable" data-orientation="fixed-left" data-following-enable="false" data-sn-ids="fb.vk.tw.ok.tm." data-preview-mobile="false" data-selection-enable="true" data-exclude-show-more="false" data-share-style="6" data-counter-background-alpha="1.0" data-top-button="false" class="uptolike-buttons" ></div>


</body>

</html>